examples/01 Create sample mp4 video using exec node.json
[
  {
    "id": "299c704eee1a7d1e",
    "type": "exec",
    "z": "d98357524e0cc4c7",
    "command": "ffmpeg -loglevel +level+fatal -hide_banner -nostats -re -f lavfi -i testsrc=size=qcif:rate=5[out0];sine=f=100:b=4[out1] -f mp4 -c:a aac -c:v libx264 -profile:v high -level 5.0 -pix_fmt yuv420p -movflags +frag_keyframe+empty_moov+default_base_moof -g 20 -tune zerolatency -metadata title=test_source -t 00:00:20 pipe:1",
    "addpay": "",
    "append": "",
    "useSpawn": "true",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "ffmpeg",
    "x": 320,
    "y": 380,
    "wires": [
      [
        "309523562c83bdb1"
      ],
      [
        "8ddab7e3571ea853"
      ],
      [
        "309523562c83bdb1"
      ]
    ]
  },
  {
    "id": "f729439f05475b39",
    "type": "inject",
    "z": "d98357524e0cc4c7",
    "name": "start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 340,
    "wires": [
      [
        "299c704eee1a7d1e"
      ]
    ]
  },
  {
    "id": "309523562c83bdb1",
    "type": "mp4frag",
    "z": "d98357524e0cc4c7",
    "name": "",
    "outputs": 2,
    "basePath": "flow01",
    "serveHttp": "true",
    "serveIo": "true",
    "hlsPlaylistSize": "4",
    "hlsPlaylistExtra": "0",
    "bufferPool": "0",
    "autoStart": "false",
    "preBuffer": 1,
    "timeLimit": 10000,
    "repeated": "false",
    "statusData": "playlist",
    "x": 560,
    "y": 340,
    "wires": [
      [
        "6da9b533d9d76d2a"
      ],
      []
    ]
  },
  {
    "id": "c51e037d7c8db0e2",
    "type": "inject",
    "z": "d98357524e0cc4c7",
    "name": "stop",
    "props": [
      {
        "p": "kill",
        "v": "SIGKILL",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 400,
    "wires": [
      [
        "299c704eee1a7d1e"
      ]
    ]
  },
  {
    "id": "8ddab7e3571ea853",
    "type": "debug",
    "z": "d98357524e0cc4c7",
    "name": "stderr",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 400,
    "wires": []
  },
  {
    "id": "6da9b533d9d76d2a",
    "type": "debug",
    "z": "d98357524e0cc4c7",
    "name": "playlist",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "status",
    "statusType": "msg",
    "x": 800,
    "y": 340,
    "wires": []
  },
  {
    "id": "878ff182313d56b3",
    "type": "comment",
    "z": "d98357524e0cc4c7",
    "name": "FFMPEG IS NOT INCLUDED WITH THIS NODE. IT MUST BE INSTALLED SEPARATELY.",
    "info": "",
    "x": 340,
    "y": 60,
    "wires": []
  },
  {
    "id": "d3a12341a090ec3f",
    "type": "comment",
    "z": "d98357524e0cc4c7",
    "name": "ENOENT error indicates that ffmpeg is not installed or its path is incorrect.",
    "info": "",
    "x": 300,
    "y": 140,
    "wires": []
  },
  {
    "id": "1f15bd18b7d745c9",
    "type": "comment",
    "z": "d98357524e0cc4c7",
    "name": "The correct movflags must be used when generating compatible mp4 video.",
    "info": "",
    "x": 310,
    "y": 100,
    "wires": []
  },
  {
    "id": "9fe35e18ec23aab2",
    "type": "comment",
    "z": "d98357524e0cc4c7",
    "name": "For help, publicly tag me in the Node-RED forum @kevinGodell.",
    "info": "`@kevinGodell`",
    "x": 270,
    "y": 180,
    "wires": []
  },
  {
    "id": "638f709cab4abcc0",
    "type": "comment",
    "z": "d98357524e0cc4c7",
    "name": "Create sample mp4 video using exec node.",
    "info": "",
    "x": 210,
    "y": 280,
    "wires": []
  }
]
