examples/02 Create sample mp4 video using ffmpeg node.json
[
    {
        "id": "36c0e9bbd4dda06f",
        "type": "ffmpeg",
        "z": "921decfa9b7e1fda",
        "name": "",
        "outputs": 3,
        "cmdPath": "ffmpeg",
        "cmdArgs": "[\"-loglevel\",\"+level+fatal\",\"-hide_banner\",\"-nostats\",\"-re\",\"-f\",\"lavfi\",\"-i\",\"testsrc=size=qcif:rate=5[out0];sine=f=100:b=4[out1]\",\"-f\",\"mp4\",\"-c:a\",\"aac\",\"-c:v\",\"libx264\",\"-profile:v\",\"high\",\"-level\",\"5.0\",\"-pix_fmt\",\"yuv420p\",\"-movflags\",\"+frag_keyframe+empty_moov+default_base_moof\",\"-g\",\"20\",\"-tune\",\"zerolatency\",\"-metadata\",\"title=test_source\",\"-t\",\"00:00:20\",\"pipe:1\"]",
        "cmdOutputs": 2,
        "killSignal": "SIGTERM",
        "credentials": {},
        "x": 320,
        "y": 380,
        "wires": [
            [
                "26b1e95911470384"
            ],
            [
                "26b1e95911470384"
            ],
            [
                "f26ee4d953703d05"
            ]
        ]
    },
    {
        "id": "fb6e8941328ce27e",
        "type": "inject",
        "z": "921decfa9b7e1fda",
        "name": "stop",
        "props": [
            {
                "p": "action",
                "v": "{\"command\":\"stop\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "36c0e9bbd4dda06f"
            ]
        ]
    },
    {
        "id": "cef5fb02cdeabc4f",
        "type": "debug",
        "z": "921decfa9b7e1fda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "status",
        "statusType": "msg",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "ec382504799c5fa7",
        "type": "inject",
        "z": "921decfa9b7e1fda",
        "name": "start",
        "props": [
            {
                "p": "action",
                "v": "{\"command\":\"start\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "36c0e9bbd4dda06f"
            ]
        ]
    },
    {
        "id": "f26ee4d953703d05",
        "type": "debug",
        "z": "921decfa9b7e1fda",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "26b1e95911470384",
        "type": "mp4frag",
        "z": "921decfa9b7e1fda",
        "name": "",
        "outputs": 2,
        "basePath": "id",
        "serveHttp": "true",
        "serveIo": "true",
        "hlsPlaylistSize": 4,
        "hlsPlaylistExtra": 0,
        "autoStart": "false",
        "preBuffer": 1,
        "timeLimit": 10000,
        "repeated": "false",
        "statusData": "playlist",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "cef5fb02cdeabc4f"
            ],
            []
        ]
    },
    {
        "id": "a76a4844774915b9",
        "type": "comment",
        "z": "921decfa9b7e1fda",
        "name": "FFMPEG IS NOT INCLUDED WITH THIS NODE. IT MUST BE INSTALLED SEPARATELY.",
        "info": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "527eb9b4486c96ab",
        "type": "comment",
        "z": "921decfa9b7e1fda",
        "name": "Create sample mp4 video using ffmpeg node.",
        "info": "",
        "x": 210,
        "y": 280,
        "wires": []
    },
    {
        "id": "9919ed962cac26e4",
        "type": "comment",
        "z": "921decfa9b7e1fda",
        "name": "ENOENT error indicates that ffmpeg is not installed or its path is incorrect.",
        "info": "",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "b853b6d37fa8fa3b",
        "type": "comment",
        "z": "921decfa9b7e1fda",
        "name": "The correct movflags must be used when generating compatible mp4 video.",
        "info": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "0e32811000af2c55",
        "type": "comment",
        "z": "921decfa9b7e1fda",
        "name": "For help, publicly tag me in the Node-RED forum @kevinGodell.",
        "info": "`@kevinGodell`",
        "x": 270,
        "y": 180,
        "wires": []
    }
]