flows/flow1.json
[
  {
    "id": "2f41f30b.8ec0fc",
    "type": "inject",
    "z": "e2251434.ff28f8",
    "name": "Start stream",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "912efe6e.23585"
      ]
    ]
  },
  {
    "id": "912efe6e.23585",
    "type": "switch",
    "z": "e2251434.ff28f8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 261,
    "y": 120,
    "wires": [
      [
        "95995258.5666f"
      ],
      [
        "5b1456bf.ecdd98"
      ]
    ]
  },
  {
    "id": "95995258.5666f",
    "type": "exec",
    "z": "e2251434.ff28f8",
    "command": "ffmpeg -re -i http://f24hls-i.akamaihd.net/hls/live/221147/F24_EN_HI_HLS/master_2000.m3u8 -c:v copy -c:a aac -f mp4 -movflags +frag_keyframe+empty_moov+default_base_moof pipe:1",
    "addpay": false,
    "append": "",
    "useSpawn": "true",
    "timer": "",
    "oldrc": false,
    "name": "france 24 news",
    "x": 480,
    "y": 120,
    "wires": [
      [
        "a5d849e1.2b3bb8"
      ],
      [],
      [
        "a5d849e1.2b3bb8"
      ]
    ]
  },
  {
    "id": "5b1456bf.ecdd98",
    "type": "function",
    "z": "e2251434.ff28f8",
    "name": "stop",
    "func": "msg = {\n kill:'SIGHUP',\n payload : 'SIGHUP' \n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 281,
    "y": 169,
    "wires": [
      [
        "95995258.5666f"
      ]
    ]
  },
  {
    "id": "ea4bf81.4513b08",
    "type": "inject",
    "z": "e2251434.ff28f8",
    "name": "Stop stream",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 110,
    "y": 166,
    "wires": [
      [
        "912efe6e.23585"
      ]
    ]
  },
  {
    "id": "a5d849e1.2b3bb8",
    "type": "mp4frag",
    "z": "e2251434.ff28f8",
    "name": "",
    "migrate": 1e-9,
    "hlsPlaylistSize": "20",
    "hlsPlaylistExtra": "10",
    "basePath": "fr24_1",
    "processVideo": true,
    "commandPath": "ffmpeg",
    "commandArgs": "[\"-loglevel\",\"quiet\",\"-f\",\"mp4\",\"-i\",\"pipe:0\",\"-f\",\"mp4\",\"-c\",\"copy\",\"-movflags\",\"+faststart+empty_moov\",\"-t\",\"60\",\"-fs\",\"8000000\",\"pipe:1\"]",
    "x": 730,
    "y": 140,
    "wires": [
      [],
      []
    ]
  }
]
